@font-face {
    font-family: 'Elephant Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Elephant Regular'), url('Elephant-PersonalUse.woff') format('woff');
}


.root{
    -fx-background-color: white;
    -fx-background-size:cover;
}
.button{
     -fx-background-color: #E1ECB5;
     -fx-background-radius: 30;
     -fx-font-weight: bold;
}
.button_black{
     -fx-background-color: #000000;
     -fx-background-radius: 30;
     -fx-font-weight: bold;
}
.tac{
    -fx-alignment: center ;
}

.input_border_color{
    -fx-border-color: #A5AD88;
}
#input_pseudo{
    -fx-background-radius: 30;
}

#isConnected{
    -fx-background-color: #FFFFFF;
}
.leftSide{
    -fx-background-color: #E1ECB5;
}
.leftSide_employee{
    -fx-background-color: #E1ECB5;
    -fx-border-color: #000000;
}
.bg_Employee{
    -fx-background-color: #000000;
}
.rightSide{
    -fx-background-color: #A5AD88;
}
.HomeColor{
    -fx-background-color: #E8ECE4;
}
.link{
    -fx-text-inner-color: #05038A;
    -fx-background-color: #00000000;
}

#my-table .table-column {
    -fx-alignment: CENTER;
}

.bg_white{
    -fx-background-color: #FFFFFF;
}
.bg_transparant{
    -fx-background-color: #FFFFFF;
}

/* Style texte */
.checkbox{
   -fx-font-family: 'Helvetica', Arial, sans-serif;
   -fx-font-size: 20px;
   -fx-font-weight: 700;
}
.label,test {
    -fx-text-fill: black;
    -fx-font-family: Elephant,'Helvetica', Arial, sans-serif;
}
.TextField{
    -fx-font-family: Elephant;
}
